<%- include("templates/headers") %>
<div style="text-align: center; margin-top: 50px;">
<h1>Error 404 - Page Not Found</h1>
<img src="/cat_404.gif" width="500px"></img>
</div>
<%- include("templates/footer") %>