<%- include("templates/headers") %>
<head>
    <title>Error</title>
  </head>
  <body>
    <h1><%= error %></h1>
    <a href="/login">Please try again.</a>
  </body>
<%- include("templates/footer") %>