<%- include("templates/headers") %>
<head>
    <title>Logged In</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>
    <a href="/logout">Logout</a>
  </body>
<%- include("templates/footer") %>