<%- include("templates/headers") %>
<head>
  <style>
    .bordered-column {
      border-style: groove;
      border-width: 13px;
      border-color: rgb(99, 99, 242);
      padding: 15px;
    }

    .uniform-image {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin: auto;
    }
  </style>
</head>
<div class="container-fluid">
  <h1>Welcome to the Member's Area, <%= username %>!</h1>
</div>
<div class="container-fluid">
  <h2 style="padding-bottom: 30px">Full of popular cat memes!</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 bordered-column">
      <img
        src="cat_meme.jpg"
        class="img-responsive uniform-image"
        alt="Cat meme"
      />
    </div>
    <div class="col-sm-4 bordered-column">
      <img src="p_cat.gif" class="img-responsive uniform-image" alt="P Cat" />
    </div>
    <div class="col-sm-4 bordered-column">
      <img
        src="yelling_cat.jpg"
        class="img-responsive uniform-image"
        alt="Yelling cat"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 bordered-column">
      <img
        src="muscle_cat.jpg"
        class="img-responsive uniform-image"
        alt="muscle cat"
      />
    </div>
    <div class="col-sm-4 bordered-column">
      <img src="grumpy_cat.jpg" class="img-responsive uniform-image" alt="grumpy cat" />
    </div>
    <div class="col-sm-4 bordered-column">
      <img
        src="nyan_cat.PNG"
        class="img-responsive uniform-image"
        alt="nyan cat"
      />
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 30px;">
  <a
    class="btn btn-primary"
    href="/"
    role="button"
    style="margin: auto; padding: 10px; font-size: 20px"
    >Home</a
  >
  <a
    class="btn btn-primary"
    href="/logout"
    role="button"
    style="margin: auto; padding: 10px; font-size: 20px"
    >Log out</a
  >
</div>
<%- include("templates/footer") %>
